aula09/docs/aula09.aux
aula09/docs/aula09.fdb_latexmk
aula09/docs/aula09.out
aula09/docs/aula09.fls
aula09/docs/aula09.log
aula09/docs/aula09.nav
aula09/docs/aula09.pdf
aula09/docs/aula09.snm
aula09/docs/aula09.synctex.gz
aula09/docs/aula09.toc
